html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: Cuprum, PT Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

/*body
background: url("../img/index.jpg") no-repeat;
opacity: 0.5;
} */

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 941px;
}

header {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 320px;
  background-color: #F2F2F2;
}

.header-main {
  display: flex;
  padding: 0;
  width: 1200px;
  min-height: 41px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #32425C;
}

.header-main .index-logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #EF3644;
}

.header-main .header-main-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: auto;
}

.header-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1070px;
  margin-right: 60px;
}

.header-info .company-area {
  margin: 46px 0 0 182px;
  width: 226px;
  height: 71px;
  left: 182px;
  top: 85px;
  color: #EE3643;
}

.header-info .company-phone {
  margin-top: 46px;
  padding: 10px 48px 10px 69px;
  width: 147px;
  height: 20px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  border: 3px solid #ffffff;
  color: #EE3643;
}

.header-info .company-address {
  margin-top: 8px;
  margin-left: 8px;
  font-size: 14px;
  line-height: 18px;
}

.header-info .site-enter {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}

.header-info .site-enter a {
  color: #000000;
}

.site-enter .login {
  padding: 10px 10px 0 10px;
  font-size: 21px;
  background-color: white;
}

.site-enter .registration {
  margin-left: 4px;
  padding: 10px 10px;
  font-size: 21px;
  background-color: white;
}

.site-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 21px 53px;
  background-color: #32425C;
}

/* Раскладка flex элементов в .catalog-items*/
.catalog-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px 20px 20px 0;
  width: 941px;
  font-size: 16px;
}

/* Позиционирование иконок в элементах .catalog-items */
.catalog-items .materials,
.catalog-items .tool,
.catalog-items .technics,
.catalog-items .catalog-discount,
.catalog-items .delivery {
  position: relative;
  width: 300px;
  height: 123px;
  color: white;
  background-color: #FFBF47;
}

.catalog-items .discount-delivery-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
}

.discount-delivery-wrap .delivery {
  margin-top: 20px;
}

.catalog-items-category {
  margin: 11px 0;
  padding: 0 24px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.slider-category {
  margin: 0 23px;
  padding: 0;
  font-size: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.catalog-slider p {
  margin: 24px 23px;
  font-size: 18px;
  padding: 0;
  color: #ffffff;
}

.catalog-items-btn {
  display: inline-block;
  margin: 12px 24px;
  padding: 12px 25px;
  min-width: 47px;
  font-size: 14px;
  text-transform: uppercase;
}

.slider-btn {
  display: inline-block;
  margin: 90px 0 22px 23px;
  padding: 10px 50px 20px;
  font-size: 14px;
  background-color: #EF3644;
  border-radius: 5px;
  text-transform: uppercase;
}

/* Блок с иконками категорий. */
.catalog-items img {
  position: absolute;
  top: 30px;
  right: 30px;
}

.catalog-items .tool {
  background-color: #3BBCE3;
}

.catalog-items .technics {
  background-color: #DD91D9;
}

.catalog-items .catalog-discount {
  background-color: #8ED78E;
}

.catalog-items .delivery {
  background-color: #FEC047;
}

.catalog-items .catalog-slider {
  margin-top: 20px;
  width: 620px;
  height: 266px;
  background: url("../img/slider-image.jpg") no-repeat;
}

.popular-products-wrapper,
.popular-producers-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 54px;
  padding: 0;
  width: 941px;
  background-color: #F9F6F1;
}

.popular-products-wrapper h2,
.popular-producers-wrapper h2
{
  margin: 30px 30px ;
  font-size: 30px;
  text-transform: uppercase;
}

.popular-products-btn {
  display: inline-block;
  margin: 26px 0 26px 664px ;
  padding: 10px 55px 20px;
  font-size: 14px;
  background-color: #EF3644;
  border-radius: 5px;
  text-transform: uppercase;
}

.product-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-left: -35px;
  width: 941px;
}

.product-cards-list li {
  border: 1px solid #EAEAEA;
}

.product-cards-list div {
  color: #ffffff;
  background-color: #EF3644;
}

.popular-producers-wrapper,
.producers-cards-wrapper,
.popular-producers-wrapper,
.producers-cards-wrapper {
  width: 941px;
}

.producers-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.producers-cards-list li {
  margin-bottom: 20px;
  width: 220px;
  border: 1px solid #EAEAEA;
}

.producers-btn {
  display: inline-block;
  margin: 26px 0 26px 664px ;
  padding: 10px 55px 20px;
  font-size: 14px;
  background-color: #EF3644;
  border-radius: 5px;
  text-transform: uppercase;
}

.services {
  position: relative;
  margin: 0;
  min-height: 520px;
  background-color: #F4F8F9;
  border: 1px solid transparent;
}
.services h2 {
  margin-top: 66px;
  font-size: 30px;
}

.services p {
  margin-top: 37px;
  font-size: 13px;
}

.services-nav {
  margin: 73px 0 0 -40px;
}

.services-nav li {
  display: block;
  width: 150px;
  padding: 10px 22px;
  text-align: start;
  background-color: #32425C;
  border-bottom: 1px solid #293448;
}

.delivery-wrapper {
  display: inline-block;
  position: absolute;
  top: 220px;
  right: 600px;
}

.services img {
  display: inline-block;
  position: absolute;
  top: 270px;
  right: 220px;
}

.services h2,
.company-information h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}

.company-information p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.company-information-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 510px;
}

.about-company  {
  display: flex;
  flex-direction: column;
  width: 510px;
  min-height: 370px;
}

.contacts {
  display: flex;
  flex-direction: column;
  wdth: 300ppx;
  min-height: 370px;
}

.contacts img {
  margin-top: 10px;
}

.about-company-description span {
  font-weight: bold;
}

.company-btn {
  margin-top: 30px;
  padding: 10px;
  width: 220px;
  font-size: 14px;
  text-align: center;
  background-color: #EF3644;
  border-radius: 5px;
  text-transform: uppercase;
}

.company-contacts-btn {
  margin-top: 50px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  background-color: #EF3644;
  border-radius: 5px;
  text-transform: uppercase;
}

